# RStudio and R
/output/
.Rapp.history
.RData
.RDataTmp
.Renviron
.Rhistory
.Rproj.user/
.Ruserdata

# Renv
renv/library/

# Quarto
_cache/
_freeze/
_quarto/
*_cache/
*.html
*.knit.md
*.pdf
*.utf8.md
/cache/

# General OS files
.DS_Store
.httr-oauth
Thumbs.db